html, body, main{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}
#game{
    width: 800px;
    height: 600px;
    margin: 24px auto;
    display: flex;
}
#timer{
    padding-top: 24px;
    padding-bottom: 24px;
    /*width: 44px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shell{
    box-sizing: border-box;
    height: 100%;
    width: 24px;
    border: 1px solid #fbf236;
    border-bottom: none;
    position: relative;
}
#shell > div{
    width: 23px;
    background-color: #fbf236;
    position: absolute;
    bottom: 0;
}
#timer > p{
    color: #fbf236;
    border: 1px solid #fbf236;
    padding: 4px 8px;
    font-size: 18px;
    margin: 0;
}
canvas{
    background-color: black;
}
#hud{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-left: none;
    position: relative;
}
#context{
    text-align: center;
    font-size: 20px;
}
em{
    font-style: normal;
    color: #fbf236;
}
a{
    color: #fbf236;
}
h1{
    font-size: 28px;
    text-align: center;
    padding: 24px 0;
    margin: 0;
    border-bottom: 1px solid #fff;
}
.section{
    margin: 24px 0;
}
.section > p {
    font-size: 24px;
    margin: 0 10px;
}
.right{
    text-align: right;
}
.icons{
    width: 100%;
    position: absolute;
    bottom: 14px;
}
.icons > div{
    margin: 10px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
}
.icon{
    margin: 0 2px;
}
.copy{
    text-align: center;
}
#help{
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #fff;
    text-align: center;
    padding: 24px;
    background-color: #000;
    position: relative;
    top: -480px;
}
#help > h2{
    margin-top: 0;
}
#help > p{
    margin-bottom: 0;
}